{% extends 'common/base.html' %}

{% load static %}
{% load custom_filters %}
{% block title %}
	Cart
{% endblock title %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock extra_css %}


{% block content %}
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="{% url 'shop_view' %}">Home</a></li>
			  <li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>

					{% for cart_product in products %}
					<tr>
						<td class="cart_product">
							<a href="">{{cart_product.product.name}}</a>
						</td>
						
						<td class="cart_price">
							<p>Rs. {{cart_product.product.price}} </p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<div class="cart_quantity">
									<div class="cart_quantity_up" onclick="changeQuantity(this, 1)"> + </div>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{ cart_product.quantity }}" autocomplete="off" size="2">
									<div class="cart_quantity_down" onclick="changeQuantity(this, -1)"> - </div>
								</div>
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price" data-price="{{ cart_product.product.price }}">
								Rs. <span class="total-price">{{ cart_product.product.price|multiply:cart_product.quantity }}</span>
							</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr>
					{% endfor %}

					
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->

<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>What would you like to do next?</h3>
			<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="chose_area">
					<ul class="user_option">
						<li>
							<input type="checkbox">
							<label>Use Coupon Code</label>
						</li>
						<li>
							<input type="checkbox">
							<label>Use Gift Voucher</label>
						</li>
						<li>
							<input type="checkbox">
							<label>Estimate Shipping & Taxes</label>
						</li>
					</ul>
					<ul class="user_info">
						<li class="single_field">
							<label>Country:</label>
							<select>
								<option>United States</option>
								<option>Bangladesh</option>
								<option>UK</option>
								<option>India</option>
								<option>Pakistan</option>
								<option>Ucrane</option>
								<option>Canada</option>
								<option>Dubai</option>
							</select>
							
						</li>
						<li class="single_field">
							<label>Region / State:</label>
							<select>
								<option>Select</option>
								<option>Dhaka</option>
								<option>London</option>
								<option>Dillih</option>
								<option>Lahore</option>
								<option>Alaska</option>
								<option>Canada</option>
								<option>Dubai</option>
							</select>
						
						</li>
						<li class="single_field zip-field">
							<label>Zip Code:</label>
							<input type="text">
						</li>
					</ul>
					<a class="btn btn-default update" href="">Get Quotes</a>
					<a class="btn btn-default check_out" href="">Continue</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>Cart Sub Total <span>$59</span></li>
						<li>Eco Tax <span>$2</span></li>
						<li>Shipping Cost <span>Free</span></li>
						<li>Total <span>$61</span></li>
					</ul>
						<a class="btn btn-default update" href="">Update</a>
						<a class="btn btn-default check_out" href="">Check Out</a>
				</div>
			</div>
		</div>
	</div>
</section><!--/#do_action-->

{% endblock content %}


{% block extra_js %}
<script>
	function changeQuantity(element, delta) {
		const inputField = element.parentElement.querySelector('.cart_quantity_input');
		let currentQuantity = parseInt(inputField.value, 10);
		let newQuantity = currentQuantity + delta;
	
		if (newQuantity < 1) {
			newQuantity = 1; // Prevent negative or zero quantity
		}
	
		inputField.value = newQuantity;
	
		const priceElement = element.closest('tr').querySelector('.cart_total_price');
		const unitPrice = parseFloat(priceElement.getAttribute('data-price'));
		const totalPrice = unitPrice * newQuantity;
	
		priceElement.querySelector('.total-price').textContent = totalPrice.toFixed(2); // Format to 2 decimal places
	}
	</script>

{% endblock extra_js %}