{% extends 'common/base.html' %}

{% load static %}

{% block title %}
	Checkout
{% endblock title %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock extra_css %}


{% block content %}
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="{% url 'shop_view' %}">Home</a></li>
			  <li >
				<a href="{% url 'cart_view' %}">Shopping Cart</a>
				</li>
			  <li class="active">Checkout Product</li>
			</ol>
		</div>
		<div class="cart_info">
			<div class="text-danger" style="padding: 2%;">
				
				<section id="do_action">
					<div class="container">
						<div class="heading">
							<p>Please fill, review and confirm the delivery address.
								Also confirm billing.
							</p>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="chose_area">
									
									
									<form action="{% url 'add_delivery_address' %}" method="post">
										{% csrf_token %}
									<ul class="user_info">
										<h3>Add new Delivery Address</h3>
										<input type="hidden" name="cart_product_id" value="{{product.id}}">
										<select name="state-id" >
											{% for state in states %}
											<option value="{{state.id}}" >{{state.name}}</option>

											{% endfor %}
										</select>
										<li class="single_field">
											<label>District:</label>
											<select name="district-id">
												{% for district in districts %}
												<option value="{{district.id}}" >{{district.name}}</option>

												{% endfor %}
												
											</select>
										
										</li>
										<li class="single_field">
											<label>Municipality:</label>
											<select name="municipality-id">
												{% for municipality in municipalities %}
												<option value="{{municipality.id}}" >{{municipality.name}}</option>

												{% endfor %}
											</select>
										
										</li>
										<li  style="margin: 1%;">

											<textarea rows="5" cols="50" name="local-address" id="local-address">
												Descriptive local address
											</textarea>
										</li>
										
									</ul>
									<button type="submit" class="btn btn-default check_out" href="">Save Delivery Address</button>
									</form>
								</div>
							</div>
							
							{% if delivery_addresses %}
							<form action="{% url 'place_order' %}" method="post">
								{% csrf_token %}
								<div class="col-md-5">
									<h3>{{ product.product.name }} | {{ product.product.brand.name }}</h3>
									<hr>
									<div style="margin: 2%;">
										
										{% for address in delivery_addresses %}
										<label for="{{address.id}}" >{{address.state.name}} | {{address.district.name}} | {{address.municipality.name}}
											<br>
											{{ address.local_address }}
	
										</label>
										<input type="radio" id="{{address.id}}" value="{{address.id}}" name="delivery-address"
	
										>
	
										{% endfor %}
	
									</div>
									<div class="total_area">
										<ul>
											<input type="hidden" name="product-id" value="{{ product.id }}">
											<li>Price per item <span>Rs. {{ product.product.price }} </span></li>
											<li>Quantity <span>{{product.quantity}}</span></li>
											<li>Total <span>Rs. {{ product.get_total_price }}</span></li>
											<li>
												<select name="payment-method" >
											
													<option value="cod" >Cash on Delivery</option>
													<option value="khalti" >Khalti</option>
		
												</select>
											</li>
										</ul>

										

											<button type="submit" class="btn btn-default check_out" href="">Check Out</button>
									</div>
								</div>
							</form>
							
							{% endif  %}


						</div>
					</div>
				</section>

				

			</div>

		</div>
	</div>
</section> <!--/#cart_items-->

{% endblock content %}
