{% extends 'common/base.html' %} 
{% load static %}
{% block title %} NeShop | Home 
{% endblock title %} 

{% block content %} 
{% include "shop/slider.html" %} 

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for category_name, data in categories.items %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#{{category_name}}">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        {{category_name}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{category_name}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        {% for brand in data.brands %}
                                        <li><a href="{% url 'category_brand_view' data.category_id brand.id %}">{{brand.name}} </a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div><!--/category-products-->
                
                    <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {% for brand in brands %}

                                <li><a href="{% url 'brand_view' brand.id  %}"> <span class="pull-right">({{brand.total_products}})</span>{{brand.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    
                    <div class="price-range"><!--price-range-->
                        <h2>Price Range</h2>
                        <form action="" method="get" style="display: flex; flex-direction:column; justify-content: center">
                            <div class="well text-center">
                                <input type="text" class="span2" value="" data-slider-min="{{min_price}}" data-slider-max="{{max_price}}" data-slider-step="5" data-slider-value="[{{min_price}},{{max_price}}]" id="sl2" name="price-range" ><br />
                                <b class="pull-left">Rs. {{min_price}}</b> <b class="pull-right">Rs. {{max_price}}</b>
                           </div>
                           <button class="btn btn-default" type="submit">Filter by Price</button>
                        </form>
                    </div><!--/price-range-->
                    
                    <div class="shipping text-center"><!--shipping-->
                        Show coupons
                    </div><!--/shipping-->
                
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>

                    {% for product in products %}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                    <div class="productinfo text-center">
                                        {% if product.images.all %}
                                        <img src="{{ product.images.all.0.image.url }}" alt="" />
                                        {% else %}
                                        <img src="{% static 'shop/images/default_product.webp' %}" alt="" />
                                        {% endif %}
                                        <h2>Rs. {{product.price}}</h2>
                                        <p>{{ product.name }}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>{{ product.name }}</h2>
                                            <p>{{ product.description }}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    
                    
                    
                </div><!--features_items-->
                
                <div class="pagination">
                    <span class="step-links">
                        {% if products.has_previous %}
                            <a href="?page={{ products.previous_page_number }}" class="btn btn-default">Prev</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ products.number }} of {{ products.paginator.num_pages }}
                        </span>
                
                        {% if products.has_next %}
                            <a href="?page={{ products.next_page_number }}"  class="btn btn-default">Next</a>
                        {% endif %}
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</section>


{% endblock content %}
